.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    min-height: 100vh;
    background-color: #a1d1c4;
  }
  
  .navbar {
    background-color: #81bfb6;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  
  .NavLogo {
    width: 80px;
    height: auto;
    justify-content: center;
    display: inline-block;
  }
  
  .navbar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }
  
  .navbar nav ul li {
    display: inline;
  }
  
  .navbar nav ul li a {
    color: #2B3F47;
    padding: 10px 20px;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
  }
  
  .navbar nav ul li a:hover {
    color: #d4f9ec;
  }
  
  .navbar nav ul li a:active,
  .navbar nav ul li a:target {
    border-bottom: 2px solid #d4f9ec;
  }
  
  .p1 {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 25px;
  }
  
  .p1 p {
    margin-top: 10px;
    max-width: 800px;
  }
  
  .p1 h3 {
    margin-top: 50px;
    text-decoration: underline 5px #2B3F47;
  }
  
  .imageRow {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    max-width: 100%; 
  }
  .imageRow2 {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    max-width: 100%; 
  }
  .imageRow3 {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    max-width: 100%; 
  }

  .imageRow4 {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    max-width: 100%; 
  }
  .logoImage,
  .logoImage2,
  .logoImage3,
  .logoImage4,
  .logoImage5,
  .logoImage6,
  .logoImage7 {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .descriptionRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .descriptionRow p {
    color: #000;
    font-size: 26px;
    text-align: center;
    width: 200px;
  }
  
  .favicon1{
    width: auto;
    height: 16px;
  }
  .favicon2{
    width: auto;
    height: 32px;
  }
  .favicon3{
    width: auto;
    height: 48px;
  }