.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    min-height: 100vh;
    background-color: #a1d1c4;
  }
  .navbar {
    background-color: #81bfb6;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0; 
    z-index: 1000; 
  }
  
  .NavLogo {
    width: 80px; 
    height: auto; 
    justify-content: center; 
    display: inline-block;
  }
  
  .navbar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
    gap: 20px; /* Adjusted gap */
  }
  
  .navbar nav ul li {
    display: inline;
  }
  
  .navbar nav ul li a {
    color: #2B3F47;
    padding: 10px 20px;
    display: inline-block; 
    font-weight: bold;
    font-size: 20px;
  }
  
  .navbar nav ul li a:hover {
    color: #d4f9ec;
  }
  
  .navbar nav ul li a:active,
  .navbar nav ul li a:target {
    border-bottom: 2px solid #d4f9ec; 
  }
  
.p1 {
    color: #000;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    font-size: 25px;
  }
  
  .favicon {
    width: 70px;
    height: 150px;
  }
  
  .imageRow {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 370px; 
    width: 500px;
  }
  
  .logoImage {
    width: 200px; 
    height: auto; 
    margin-bottom: 20px;
    flex-direction: row;
  }
  .logoImage2 {
    width: 200px; 
    height: auto; 
    margin-bottom: 20px;
    flex-direction: row;
  }
  .logoImage3 {
    width: 200px; 
    height: auto; 
    margin-bottom: 20px;
    flex-direction: row;
  }
  
  .descriptionRow {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    gap: 3rem;
  }
  
  .descriptionRow p {
    color: #000;
    font-size: 25px;
    text-align: center; 
    width: 25%; 
    max-width: 100%;
    gap: 1rem;
    align-items: center;
  }